.span12
  .row
    - if @projects
      %a{ href: projects_path }
        %h3= t('projects')
      = render partial: "projects/fotorama", locals: {projects: @projects}
      %hr
  .row
    - if @partners
      %a{ href: partners_path }
        %h3= t('partners')
      = render partial: "partners/show", locals: {partners: @partners}
      %a.btn.btn-info{ href: partners_path }= t('.all_partners')
  %hr
= javascript_include_tag  "fotorama_dep"
= stylesheet_link_tag  "fotorama_dep"
