= javascript_include_tag  "jquery-1.10.1.min.js"
= stylesheet_link_tag  "welcome"
.span12
  .row
    - if @projects
      %a{ href: projects_index_path }
        %h3= t('projects')
      .fotorama-wrap
        .fotorama#fotorama-project{ "data-transition" => "slide", "data-autoplay" => "true", "data-loop" => "true", "data-width" => "100%", "data-ratio" => "16/7", "data-fit" => "cover" }
          - @projects.each do |project|
            %div
              %img{src: project.screenshots.last.image.url}
      %hr
  .row
    - if @partners
      %a{ href: partners_index_path }
        %h3= t('partners')
      %table.table.table-striped
        %thead
          %tr.table-aligned
            %th
              %p.text-center.text-info= t('name')
            %th
              %p.text-center.text-info= t('site')
            %th
              %p.text-center.text-info= t('logo')
        - @partners.each do |partner|
          %tr.table-aligned
            %th
              %p.text-center= partner.name
            %th
              %a{ href: partner.site }
                %p.text-center= partner.site
            %th
              %p.text-center
                %img.img-rounded.micro{ src: partner.logo_url(:small) }
      %a.btn.btn-info{ href: partners_index_path }= t('.all_partners')
      %hr
